<div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                {% load mptt_tags %}

                <div class="row d-flex justify-contnet-center">

                    {% recursetree category %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">

                        <div class="single-services text-center mb-30">

                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>

                            <div class="services-cap">
                               <h5><a href="/category/{{ node.id }}/{{ node.slug }}">{{node.title}}</a></h5>

                            </div>

                        </div>

                    </div>
                    {% endrecursetree %}
                    </div>

                <!-- More Btn -->
                <!-- Section Button -->

            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->


        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
        <section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Latest Job</span>
                        </div>
                    </div>
                </div>
                {% load static %}
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        {% for rs in jobs_latest %}
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/job/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="job_details.html"><h4>{{ rs.company }}</h4></a>
                                    <ul>
                                        <li>{{ rs.title }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ rs.location }}</li>
                                        <li>${{ rs.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/job/{{ rs.id }}/{{ rs.slug }}">{{ rs.type}}</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                        <!-- single-job-content -->

                         <!-- single-job-content -->

                         <!-- single-job-content -->
                         {% endfor %}

                    </div>
                </div>
            </div>
        </section>


<section class="featured-job-area feature-padding">
           <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="section-tittle text-center">
                            <span>Random Job</span>
                        </div>
                    </div>
                </div>
                {% load static %}
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        {% for rs in randomjobs %}
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/job/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="job_details.html"><h4>{{ rs.company }}</h4></a>
                                    <ul>
                                        <li>{{ rs.title }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ rs.location }}</li>
                                        <li>${{ rs.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/job/{{ rs.id }}/{{ rs.slug }}">{{ rs.type}}</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                        <!-- single-job-content -->

                         <!-- single-job-content -->

                         <!-- single-job-content -->
                         {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->

        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            {% for rs in jobs_latest %}
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{{ rs.image.url }}">
                                            <span>{{ rs.company }}</span>
                                            <p>{{ rs.location }}</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>{{ rs.description }}</p>
                                    </div>
                                </div>
                            </div>
                             {% endfor %}
                            <!-- Single Testimonial -->

                            <!-- Single Testimonial -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Support Company End-->

