{% extends "homebase.html" %}

{% block title %} Hakkimizda-{{ setting.company }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %} <link rel="shortcut icon" type="image/x-icon" href='{{setting.icon.url}}'>{% endblock %}

{% block slider %}

{% endblock %}

{% block body %}

<div class="slider-area ">
    {% load static %}
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{%static 'assets/img/hero/about.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Hakkımızda</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row">
                 <div class="col-md-8">
                {{ setting.contact|safe }}
                 </div>

                            <div class="col-md-4">
                                        <h3>İletişim Formu :</h3>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                                  <form class="form-contact contact_form" method="post">
                                      <div class="row">
                                <div class="col-12">
                                         <div class="form-group">
                                     {% csrf_token %}
                                             {{ form.as_p }}
                                              </div>
                                      </div>
                            </div>

                            <input type="submit" class="button button-contactForm boxed-btn" value="SEND FORM">
                                </form>


                            </div>

        </div>
        </div>
         </div>

{% endblock %}
