{% extends "homebase.html" %}

{% block title %} Register-{{ setting.company }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %} <link rel="shortcut icon" type="image/x-icon" href='{{setting.icon.url}}'>{% endblock %}

{% block slider %}

{% endblock %}

{% block body %}

<div class="slider-area ">
    {% load static %}
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{%static 'assets/img/hero/about.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>User Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row">


                            <div class="col-md-12">
                                        <h3>Login Page :</h3>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                                <form method="post">
                                     {% csrf_token %}
                                     {% for field in form %}
                                    <p>
                                        {{field.label_tag}} <br>
                                        {{field}}
                                        {% if field.help_text %}
                                            <small style="color:grey">{{field.help_text}}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                        <p style="color:red">{{ error }}</p>
                                        {% endfor %}

                                    </p>
                                    {% endfor %}
                                    <button class="button button-contactForm boxed-btn" type="submit">Register</button>
                                </form>


                            </div>

        </div>
        </div>
         </div>

{% endblock %}
