{% load static %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                {% load static %}

                <div class="single-slider slider-height d-flex align-items-center"  data-background="{%static 'assets/img/hero/h1_hero.jpg'%}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Job portalımıza Hoş geldiniz</h1>
                                </div>
                            </div>
                        </div>


                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- form -->
                                <form action="/search/" class="search-box" method="post">
                                    {% csrf_token %}
                                    <div class="input-form">
                                        <input name="query" type="text" placeholder="Job Tittle or keyword">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="catid">
                                                <option value="0">All Categories</option>
                                                {% load mptt_tags %}
                                                {% recursetree category %}
                                                {% if node.is_leaf_node %}
                                                <option value="{{ node.id }}">{{ node.title }}</option>
                                                {% endif %}
                                                {% endrecursetree %}


                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#">Find job</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

